  <div class="row">
    <div class="col-12 col-md-2 col-lg-1 text-md-end mb-2">
      <small class="text-secondary">
        <i class="bi bi-arrow-right d-md-none"></i>
        <i class="bi bi-envelope d-md-none"></i>
      </small>
    </div>
    <div class="col-12 col-md-10 col-lg-11">
      <h4 class="mb-2">Subscribe to new posts</h4>
      <%= form_with url: emails_path, method: :post, local: true, scope: :email do |form| %>
        <div class="input-group">
          <%= form.email_field :email, 
                                  placeholder: "Your email", 
                                  class: "form-control bg-dark text-white border-secondary custom-placeholder",
                                  style: "max-width: 400px" %>
          <%= form.submit "Subscribe", class: "btn btn-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
