<% content_for :title, "G0RD0.com" %>

<div class="container-fluid bg-dark text-light min-vh-100">
  <div class="row">
    <div class="col-lg-8 mx-auto">

      <header class="text-center my-5">
        <h1 class="display-4 fw-bold">Lucas Gordon</h1>
        <p class="lead">Welcome to my personal blog</p>
      </header>

      <div id="posts" class="mb-5">
        <% @posts.each do |post| %>
          <div class="card bg-secondary text-light mb-4">
            <div class="card-body">
              <%= render post %>
              <%= link_to "Read more", post, class: "btn btn-outline-light mt-2" %>
            </div>
          </div>
        <% end %>
      </div>

      <%= link_to "New post", new_post_path, class: "btn btn-primary mb-5" %>
    </div>
  </div>
</div>
