@import "bootstrap";

@import "bootstrap-icons";

@font-face {
  font-family: 'BerkeleyMono';
  src: url(asset-path('BerkeleyMonoTrial-Regular.ttf')) format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'BerkeleyMono', sans-serif;
}

.border-contrast-bottom {
  border-bottom: 0.7px solid rgba(255, 255, 255, 0.7);
}

.border-contrast-right {
  @media (min-width: 768px) {
    border-right: 0.7px solid rgba(255, 255, 255, 0.7);
  }
}
